/* Set global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
  }
  
  /* Style the options section */
  #options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #show,
  #page,
  #filters,
  #sort,
  #favoris {
    display: flex;
    align-items: center;
  }
  
  #show-select,
  #page-select,
  #rizzPrice,
  #brand-filter,
  #sort-select {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #666;
  }
  
  #favoris button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #666;
    color: #fff;
    cursor: pointer;
  }
  
  /* Style the indicators section */
  #indicators {
    margin: 20px 0;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  
  #indicators h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #indicators div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #indicators span {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  #indicators span:last-child {
    margin-right: 0;
  }

  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  
  .product{
    margin-left: 5px;
  }

  .products{
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .nbProducts{
    margin-right: 10px;
  }

  .material-symbols-outlined{
    align-items: right;
  }

  .brandfil{
    margin-left: 20px;
  }
  
  a {
    color: #3366cc;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    color: #cc3300;
    text-decoration: underline;
  }